.internalLink {
    background-color: rgb(192, 206, 212);
    color:black;
    padding: 15px 25px;
}

.externalLink {
    color:black;
    padding: 0px;
}

.disabled {
    color:white;
    background-color: gray;
    padding: 15px 25px;
}

#tooltip {
    position:absolute;
    text-align:start;
    background:whitesmoke;
    padding: 10px 10px;
}

circle {
    stroke:black;
}